body
{
  font-style: Arial;
  background-color: black ;
}
#flex-container2
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container1
{
  display: flex;
  text-align: center;
  justify-content: center;
}
.game4
{
  color: white;
  margin-right: 20px;
}
.game5
{
  color: white;
  margin-left: 20px;
}
.game1
{
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
.game2
{
  width: 300px;
  height: 300px;
}
.game3
{
color: white;
  font-size: 35px;
  width: 300px;
  height: 200px;
}
